<link rel="stylesheet" href="../content/css/about.css">


<!-- head_Text -->
<div class="head-text  " id="About_Page" style="background-image: url({{image.common}});background-attachment: fixed;">
    <h1 class="head-text-h1">
        ABOUT 
    </h1>
    <h3 class="head-text-linker pt-3">
        <a href="#!/home">Home</a> &#62; About 
    </h3>
</div>
<!-- head_Text_End -->

<br><br><br><br><br><br>

<div class="container ">
  <div class="row gx-3">
    <div class="col-lg-6 col-md-12 col-sm-12" style="display: flex;">
      <div class="  text-center">
            <span><img src="{{staff.introimage}}" width="265px" class="me-lg-2 img-fluid" alt="" style="margin: none;margin-top: -20px;" ></span>
            <span><img src="{{location.introimage}}" width="265px" class="img-fluid " alt="" style="margin-top: 20px;"></span>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class=" mt-lg-3 about-intro">
        <h1 class="p-3" style="text-decoration: #03fc03 underline 2px;">About Grand Palace</h1>
        <p class="p-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam amet quos fugiat, nihil illo necessitatibus id, non eum modi delectus dolorem? Animi ad maiores exercitationem dolorum quos laudantium quae dolorem.
        </p>
        <p class="py-2 px-3">
          Mon - Fri  &nbsp;<b>7 AM - 11 PM</b>
        </p>
        <h1 class="phone px-3">
           + 01-234-567-88
        </h1>
      </div>
    </div>
  </div>
</div>

<style>
  .about-intro h1{
    font-family: Sofia;
    font-weight: bold;
    font-size: 45px;
    color: #ff9800;
  }
  .about-intro p{
    width: 400px;
    font-size: 1.05rem;
  }
  .about-intro .phone{
    color: #ff9800;
    font-family: poppins;
    font-weight: bold;
    
  }
</style>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>