<link rel="stylesheet" href="../content/css/about.css">


<!-- head_Text -->
<div class="head-text  " id="About_Page" style="background-image: url({{image.common}});background-attachment: fixed;">
    <h1 class="head-text-h1">
        ABOUT 
    </h1>
    <h3 class="head-text-linker pt-3">
        <a href="#!/home">Home</a> &#62; About 
    </h3>
</div>
<!-- head_Text_End -->

<br><br><br><br><br><br>

<div class="container ">
  <div class="row gx-3">
    <div class="col-6" style="display: flex;">
      <div class="  text-center">
            <span><img src="{{staff.introimage}}" width="265px" class="me-lg-2 img-fluid" alt="" style="margin: none;margin-top: -20px;" ></span>
            <span><img src="{{location.introimage}}" width="265px" class="img-fluid " alt="" style="margin-top: 20px;"></span>
      </div>
    </div>
    <div class="col-6">
      <div class=" bg-info text-center">Custom column padding</div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>