<link rel="stylesheet" href="../content/css/contact.css">

<!-- head_Text -->
<div class="head-text  " id="Contact_Page" style="background-image: url({{image.common}});background-attachment: fixed;">
    <h1 class="head-text-h1">
        CONTACT 
    </h1>
    <h3 class="head-text-linker pt-3">
        <a href="#!/home">Home</a> &#62; Contact
    </h3>
</div>
<!-- head_Text_End -->

<br><br>

<div class="questions row animate__animated animate__fadeInUp " style="margin-top: 50px;">
    <h2 class="text-center" >IF YOU HAVE ANY QUESTIONS CONTACT US !</h2>
    <p class="py-0 text-center">We would like to know your thoughts and opinions about us, kindly leave us a message.</p>
</div>
 


<br><br><br>

<div class="container ">
  <div class="row gx-4">
    <div class="address-card col-lg-3 col-md-6 my-lg-0 my-md-3 my-sm-4 col-sm-12 mx-sm-auto  ">
      <div class="p-3 a-card border text-center" >
          <i class="mt-3 fas fa-map-marker-alt fa-3x"></i>
          <h4 class="mt-4 mb-4">Address</h4>
          <p class="mt-2">180 North King Street, Northhampton MA 01060, England</p>
      </div>
    </div>
    <div class="address-card col-lg-3 col-md-6 my-lg-0 my-md-3 my-sm-4 col-sm-12 mx-sm-auto  ">
      <div class="p-3 a-card border text-center" >
        <i class="mt-3 far fa-envelope fa-3x"></i>
        <h4 class="my-4">E-mail</h4>
        <p class="mt-2">grandpalaceofficial@gmail.com</p>
        <p class="mt-2">info@grandpalaceeatery.com</p>
      </div>
    </div>
    <div class="address-card col-lg-3 col-md-6 my-lg-0 my-md-3 my-sm-4 col-sm-12 mx-sm-auto  ">
      <div class="p-3 a-card border text-center" >
        <i class="mt-3 fas fa-phone-alt fa-3x"></i>
        <h4 class="my-4">Phone</h4>
        <p class="mt-2">Reservation: +44 123-313-7593</p>
        <p class="mt-2">Contact: +44 123-456-7890</p>
      </div>
    </div>
    <div class="address-card col-lg-3 col-md-6 my-lg-0 my-md-3 my-sm-4 col-sm-12 mx-sm-auto  ">
      <div class="p-3 a-card border text-center" >
        <i class="mt-3 far fa-clock fa-3x"></i>
        <h4 class="my-4">Working Hours</h4>
        <p class="mt-2">Mon - Thu: 07:00 am - 11:00 pm</p>
        <p class="mt-2">Fri - Sat: 09:00 am - 11:00 pm</p>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br>

<div class="container  px-3">
  <div class="row gx-5">
    <div class="col-lg-6 col-md-12 mx-lg-0 mx-md-auto mx-sm-auto">
      <div class=" map text-center">
          <iframe class="my-0 py-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.0386915927884!2d-72.64594768504004!3d42.3416984442544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e6d71e8ac74a73%3A0xabee6ff25e69c2ed!2sWalmart!5e0!3m2!1sen!2sng!4v1622473910985!5m2!1sen!2sng"  style="border:0;"  loading="lazy" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 text-lg-start text-md-center text-sm-center mt-lg-0 mt-md-5 mt-sm-5">
      <div class="p-3 form">
          <h2 class="mb-5">Contact Us</h2>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" id="name" placeholder="Your Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Your Email">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
            </div>
            <div class="form-floating" style="overflow-x: hidden;overflow-y: auto;">
                <textarea class="form-control text-area" placeholder="Leave a comment here" id="floatingTextarea" rows="150" style="height: 120px;"></textarea>
                <label for="floatingTextarea">Message</label>
            </div>
            <button type="submit" class="btn btn-primary my-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<br><br><br>