<link rel="stylesheet" href="../content/css/contact.css">

<!-- head_Text -->
<div class="head-text  " id="Contact_Page" style="background-image: url({{image.common}});background-attachment: fixed;">
    <h1 class="head-text-h1">
        CONTACT 
    </h1>
    <h3 class="head-text-linker pt-3">
        <a href="#!/home">Home</a> &#62; Contact
    </h3>
</div>
<!-- head_Text_End -->

<br><br><br><br><br><br>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

<style>
    .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>


<br><br><br><br><br><br>

