<link rel="stylesheet" href="../content/css/dishes.css">


<style>
  body{
    /* background-image: url(/content/img/Home_Page/spag.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<!-- head_Text -->
<div class="head-text  " style="background-image: url({{image.common}});">
    <h1 class="head-text-h1">
        OUR &nbsp; DISHES
    </h1>
    <h3 class="head-text-linker pt-3">
        <a href="#!/home">Home</a> &#62; Our Dishes
    </h3>
</div>
<!-- head_Text_End -->



<div class="container overflow-hidden  mt-5 testimony">
  <div class="row gx-5">
    <div class="col-lg-3 testifiers mx-auto col-md-4 col-sm-8 my-sm-3 border mx-4 ">
      <div class="p-3  mx-auto"style="width: 47%;" ><img src="{{firsttestimony.image}}" class="img-fluid" style="clip-path: circle();"  alt=""></div>
      <h6 class="text-center my-3" style="font-weight: 300;">Lorem ipsum carrots enhanced rebates. It is through desire, to have some pleasure of pleasures, this man did flee from the flattery of her debts, receives us all worthy of.</h6>
      <h4 class="text-center py-2">Akinoso Israel</h4>
      <p class="text-muted text-center" style="font-weight: 600;">CUSTOMER</p>
    </div>
    <div class="col-lg-3 testifiers mx-auto col-md-4 col-sm-8 my-sm-3 border mx-4">
      <div class="p-3  mx-auto" style="width: 47%;"><img src="{{secondtestimony.image}}" class="img-fluid" style="clip-path: circle();"  alt=""></div>
      <h6 class="text-center my-3" style="font-weight: 300;">Lorem ipsum carrots enhanced rebates. It is through desire, to have some pleasure of pleasures, this man did flee from the flattery of her debts, receives us all worthy of.</h6>
      <h4 class="text-center py-2">Akinoso Israel</h4>
      <p class="text-muted text-center" style="font-weight: 600;">CUSTOMER</p>
    </div>
    <div class="col-lg-3 testifiers mx-auto col-md-4 col-sm-8 my-sm-3 border mx-4">
      <div class="p-3  mx-auto"style="width: 47%;" ><img src="{{thirdtestimony.image}}" class="img-fluid" style="clip-path: circle();"   alt=""></div>
      <h6 class="text-center my-3" style="font-weight: 300;">Lorem ipsum carrots enhanced rebates. It is through desire, to have some pleasure of pleasures, this man did flee from the flattery of her debts, receives us all worthy of.</h6>
      <h4 class="text-center py-2">Akinoso Israel</h4>
      <p class="text-muted text-center" style="font-weight: 600;">CUSTOMER</p>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
