<link rel="stylesheet" href="../content/css/home.css">

<!-- data-bs-ride="carousel" -->
<div class="row slider" id="Home_Page">
    <div id="carouselExampleCaptions" class="carousel carousel-light slide carousel-fade" data-bs-ride="carousel" >

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="8000" >
      <img src="{{image1.carousel}}" class="d-block w-100 img-fluid"  alt="..."  >
      <div class="carousel-caption d-md-block mb-lg-5 pb-lg-5 animate__animated animate__pulse animate__delay-1s" style="--animate-duration: 1.2s;">
        <h1 class="firstH1 mb-lg-3 " >Welcome To Grand Palace</h1>
        <h3 class="firstP">Paradise on your plate...</h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="10000">
      <img src="{{image2.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block animate__animated animate__fadeInLeft animate__slow">
        <h5 class="firstH1 mb-lg-3" style="color: white;text-decoration:underline;text-decoration-color: #ff9800;">Enjoy a Taste of Heaven in every plate </h5>
        <h3 class="firstP" ></h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="10000">
      <img src="{{image3.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block animate__animated animate__fadeInUp animate__slow">
        <h5 class="firstH1 mb-lg-3" style="text-decoration-color:#ff9800;" ><span style="font-family: 'Lobster', cursive;">A</span> healthy option for you !</h5>
        <h3 class="firstP" style="color: white;text-shadow: 7px 5px  10px #03fc03;">Meals created with extra care</h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="10000">
      <img src="{{image4.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block animate__animated animate__fadeInTopRight animate__slow">
        <h5 class="firstH1 mb-lg-3" >Our Team <i class="fas fa-users"></i></h5>
        <h3 class="firstP" style="color: #fbff00;">Ever reliabe and with excellent performance</h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="10000">
      <img src="{{image5.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block animate__animated animate__rollIn animate__slow">
        <h5 class="firstH1 mb-lg-3" style="color: #ff9800; text-decoration-color: white;text-decoration-style: wavy;" >Made with Love <i class='bx bxs-heart-circle bx-tada' style="color: white;text-decoration: none;"  ></i> </h5>
        <h3 class="firstP" style="color: #03fc03;" >Provides you with an exquisite kitchen </h3>
      </div>
    </div>
  </div>

</div>

</div>

<!-- Spice -->
<div class="row mt-5 pt-5  "  >

  <div class="col-lg-5 col-md-12 ms-lg-5 mx-lg-0 me-lg-3 me-md-0 "  data-aos="zoom-in-down" . data-aos-duration="2500" >
      <img src="{{spices.image}}" class=" spices-img img-fluid " alt="restaurant image" style="border-top-left-radius: 30px;border-bottom-right-radius: 30px;">
  </div>

  <div class="col-lg-6 col-md-12 mt-lg-0 mt-md-5 mt-sm-5 cardo-body bg-white border" data-aos="zoom-in-left" . data-aos-duration="2500" style="border-bottom-left-radius: 30px;border-top-right-radius: 30px;">
    <div class="card-body ">
      <h5 class="card-title text-md-center text-sm-center" style="font-size: 2rem;">Grand Palace Eatery </h5>
      <p class="card-text mt-4 ">
        Welcome to the one resturant who takes your satisfaction to their best interest. Equiped with the 
        perfect tools and ingredients, we at Grand Palace provides you with a variety of dishes to make your day. Why waste 
        any more time searcing for a good place to eat? Come over and we'll give you the best. We specialize in different kinds
        of dishes you can imagine. We also do deliveries of dishes you may want. So give us a visit and get paradise on your plate !!! 
      </p>
    </div>
  </div>

</div>
<!-- Spice -->


<!-- qualities -->
<div class="container  mt-5">
  <div class="row qualities gx-lg-5">
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2" data-aos="fade-up" data-aos-anchor-placement="center-center" . data-aos-duration="2000">
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);">
       <img src="{{menu.icon}}" alt="">
       <h5 class="mt-4">A Full Stack Menu</h5>
     </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2" data-aos="fade-up" data-aos-anchor-placement="center-center" . data-aos-duration="2000">
      <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);">
        <img src="{{fastfood.icon}}" alt="">
        <h5 class="mt-4">All the food you can order</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2" data-aos="fade-up" data-aos-anchor-placement="center-center" . data-aos-duration="2000">
      <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);">
        <img src="{{tray.icon}}" alt="">
        <h5 class="mt-4">Speedy Delivery to your doorstep</h5>
      </div>
    </div>
  </div>
</div>

<!-- qualities -->


<!-- specifications-->
<div class="row specialties container mx-auto ">
  <h1 class="text-center my-5"data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine">Specialties</h1>
  <div class="overflow-hidden">
  <div class="row gx-5">
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
     <div class=" border "  data-aos="flip-down" data-aos-easing="linear" data-aos-duration="1500">
      <img src="{{snack.specimen}}" alt="Specialties Images" style="width: 100%;">
      <h5 class="my-3 text-center">Fast Food</h5>
     </div>
    </div>
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border " data-aos="flip-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="{{foreign.specimen}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-center">Foreign Dishes</h5>
      </div>
    </div>
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border " data-aos="flip-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="{{local.specimen}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-center">Local Dishes</h5>
      </div>
    </div>
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border " data-aos="flip-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="{{drinks.specimen}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-center">Drinks and Beverages</h5>
      </div>
    </div>
  </div>
</div>
</div>
<!-- specifications -->

<!-- qualities -->

<style>
  .social-media{
    color: #ff9800;
  }
  .social-media:hover{
    color: #03fc03;
    transition: 0.3s;
  }
</style>

<!-- specifications-->
<div class=" ourchef container ">
  <h1 class="text-center my-5"data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine">Our Master Chef</h1>
  <div class="overflow-hidden">
  <div class="row gx-4 ">
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
     <div class=" border "  data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
      <img src="{{lukesimon.image}}" alt="Specialties Images" style="width: 100%;">
      <h5 class="mt-3 text-start ms-3">Luke Simon</h5>
      <h6 class="text-muted ms-3">Restaurant Owner</h6>
      <h6 class="ms-2">
        <a href="#"><span class="m-2 social-media"><i class="fab fa-google-plus-g" ></i></span></a>
        <a href="#"><span class="m-2 social-media"><i class="fab fa-facebook-f" ></i></span></a>
        <a href="#"><span class="m-2 social-media"><i class="fab fa-twitter" ></i></span></a>
        <a href="#"><span class="m-2 social-media"><i class="fab fa-instagram" ></i></span></a>
      </h6>
     </div>
    </div>
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border " data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
        <img src="{{martinyoung.image}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="mt-3 text-start ms-3">Martin Young</h5>
        <h6 class="text-muted ms-3">Head Chef</h6>
        <h6 class="ms-2">
          <a href="#"><span class="m-2 social-media"><i class="fab fa-google-plus-g" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-facebook-f" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-twitter" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-instagram" ></i></span></a>
        </h6>
      </div>
    </div>
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border " data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
        <img src="{{rebecca.image}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="mt-3 text-start ms-3">Rebecca Welson</h5>
        <h6 class="text-muted ms-3">Chef</h6>
        <h6 class="ms-2">
          <a href="#"><span class="m-2 social-media"><i class="fab fa-google-plus-g" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-facebook-f" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-twitter" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-instagram" ></i></span></a>
        </h6>
      </div>
    </div>
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border " data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
        <img src="{{johnsmith.image}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="mt-3 text-start ms-3">John Snow</h5>
        <h6 class="text-muted ms-3">Chef</h6>
        <h6 class="ms-2">
          <a href="#"><span class="m-2 social-media"><i class="fab fa-google-plus-g" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-facebook-f" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-twitter" ></i></span></a>
          <a href="#"><span class="m-2 social-media"><i class="fab fa-instagram" ></i></span></a>
        </h6>
      </div>
    </div>
  </div>
</div>
</div>
<!-- chef -->

<!-- owner's_table -->
<div class="row ownerstable">
  <h1 class="text-center mb-4" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine">From the  Owner's Table</h1>
</div>

<div class="row headchef img-fluid" style="width: 100%;background-image: url({{headchefbg.image}});">
  <div class="row my-5 py-5  ">
    
  <div class="col-lg-5 col-md-12 ms-lg-5 mx-lg-0 me-lg-3 me-md-0 "  data-aos="zoom-in-down" . data-aos-duration="2000">
      <img src="{{headchef.image}}" class=" spices-img img-fluid " alt="restaurant image" style="border-top-left-radius: 30px;border-bottom-right-radius: 30px;">
  </div>

  <div class="col-lg-6 col-md-12 mt-lg-0 mt-md-5 mt-sm-5 cardo-body bg-white " data-aos="zoom-in-left" . data-aos-duration="2000" style="border-bottom-left-radius: 30px;border-top-right-radius: 30px;">
    <div class="card-body ">
      <h5 class="card-title" style="font-size: 2rem;">Chef Luke Simon</h5>
      <p class="card-text mt-4 ">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus similique quod maiores facilis omnis mollitia cumque 
       error blanditiis esse iure nemo, at rem, eius aliquam consectetur eaque. Ab excepturi officiis repudiandae amet, laborum 
       accusamus reprehenderit maiores accusantium consectetur, id culpa rem debitis eaque quo tenetur labore odit? Sequi, omnis 
       consequatur.
      </p>
    </div>
  </div>

  </div>
</div>
<!-- owner's_table -->

<!-- form -->
<div class="row reservation img-fluid"  id="form" style="width: 100%;background-image: url({{reservation.image}});">

  <div class="col-lg-5 my-lg-5 mt-sm-5 mx-sm-5 mx-md-5  ">
    <div class="booktable ms-sm-5 ms-md-5 ">
      <h1 class="my-lg-5 mx-lg-5 mx-sm-5  " data-aos="zoom-in-down"data-aos-duration="1500" >Book a Table Now !</h1>
    </div>
  </div>

  <!-- !!!FORM!!! -->
  <div class="col-lg-5  col-md-12 col-sm-12 mx-sm-auto mx-lg-0 mx-md-auto " >
    <div class="row py-5 mx-sm-3 ">
      <div class="col-12 valid mx-sm-auto py-5 px-4" data-aos="flip-left" . data-aos-duration="2000">
        <form>
          <div class="row">
            <div class="col-6">

            <!-- Name -->
              <div class="form-floating mb-5">
                <input type="name" class="form-control" id="floatingName" placeholder="name@example.com">
                <label for="floatingName">Name</label>
              </div>

            <!-- Phone -->
              <div class="form-floating mb-5">
                <input type="tel" class="form-control" id="floatingPhone" onkeypress="javascript:return isNumber(event)" placeholder="Password">
                <label for="floatingPhone">Phone</label>
              </div>

            <!-- Time -->
              <div  class="form-floating mb-5">
                <input  placeholder="Date" class="form-control"  type="time" onfocus="(this.type='time')" onblur="(this.type='text')" id="floatingTime" />
                <label for="floatingTime">Time</label>
              </div>
            </div>

            <div class="col-6" >

            <!-- Email -->
              <div class="form-floating mb-5">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email </label>
              </div>

            <!-- Date -->
              <div class="form-floating mb-5">
                <input  placeholder="Date" class="form-control"  type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="floatingDate" />
                <label for="floatingDate">Date</label>
              </div>

            <!-- No_Of_Persons -->
              <select class="form-select mb-5" aria-label="Default select example" style="height:57px;font-family: poppins;" >
                <option selected class="selected text-dark">Guest</option>
                <option value="1" class="text-secondary">1</option>
                <option value="2" class="text-secondary">2</option>
                <option value="3" class="text-secondary">3</option>
                <option value="4" class="text-secondary">4+</option>
              </select>

            </div>
          </div>

          <button type="submit"  data-mdb-ripple-color="dark">Make a Reservation</button>

        </form>        
      </div>
    </div>
  </div>
</div>

<!-- form -->

<!-- testimony -->
<div class="container overflow-hidden   testimony ">
  
  <div class="row testimony-header">
    <h1 class="text-center my-5"data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine">Testimonies <i class='bx bx-wink-smile bx-tada' style='color:#ff9800' ></i></h1>
  </div>

  <div class="row gx-5">
    <div class="col-lg-3 testifiers mx-auto col-md-4 col-sm-8 my-sm-3 border-end border-start  mx-4 " data-aos="fade-up" data-aos-anchor-placement="center-center" . data-aos-duration="1700" >
      <div class="p-3  mx-auto"style="width: 47%;" ><img src="{{firsttestimony.image}}" class="img-fluid" style="clip-path: circle();"  alt=""></div>
      <h6 class="text-center my-3" style="font-weight: 300;">Lorem ipsum carrots enhanced rebates. It is through desire, to have some pleasure of pleasures, this man did flee from the flattery of her debts, receives us all worthy of.</h6>
      <h4 class="text-center py-2">Blue Catfish🐟</h4>
      <p class="text-muted text-center" style="font-weight: 600;">CUSTOMER</p>
    </div>
    <div class="col-lg-3 testifiers mx-auto col-md-4 col-sm-8 my-sm-3 border-end border-start  mx-4" data-aos="fade-up" data-aos-anchor-placement="center-center" . data-aos-duration="1700" >
      <div class="p-3  mx-auto" style="width: 47%;"><img src="{{secondtestimony.image}}" class="img-fluid" style="clip-path: circle();"  alt=""></div>
      <h6 class="text-center my-3" style="font-weight: 300;">Lorem ipsum carrots enhanced rebates. It is through desire, to have some pleasure of pleasures, this man did flee from the flattery of her debts, receives us all worthy of.</h6>
      <h4 class="text-center py-2">Blue Catfish🐟</h4>
      <p class="text-muted text-center" style="font-weight: 600;">CUSTOMER</p>
    </div>
    <div class="col-lg-3 testifiers mx-auto col-md-4 col-sm-8 my-sm-3 border-end border-start  mx-4" data-aos="fade-up" data-aos-anchor-placement="center-center" . data-aos-duration="1700" >
      <div class="p-3  mx-auto"style="width: 47%;" ><img src="{{thirdtestimony.image}}" class="img-fluid" style="clip-path: circle();"   alt=""></div>
      <h6 class="text-center my-3" style="font-weight: 300;">Lorem ipsum carrots enhanced rebates. It is through desire, to have some pleasure of pleasures, this man did flee from the flattery of her debts, receives us all worthy of.</h6>
      <h4 class="text-center py-2">Blue Catfish🐟</h4>
      <p class="text-muted text-center"  style="font-weight: 600;">CUSTOMER</p>
    </div>
  </div>
</div>
<!-- testimony -->

<div class="delicious-food  py-2 " style="background: #ff9800;margin-top: 100px;" >
  <h1 class=" text-light mt-2 ">We Make Delicious & Nutritious Food Here</h1>
  <center><a href="#form"><button class="my-2 data-mdb-smooth-scroll " data-mdb-ripple-color="dark">Book A Table Now</button></a></center>
</div>


