<link rel="stylesheet" href="../content/css/home.css">

<!-- data-bs-ride="carousel" -->
<div class="row slider">
    <div id="carouselExampleCaptions" class="carousel carousel-light slide carousel-fade" data-bs-ride="carousel" >

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000" >
      <img src="{{image1.carousel}}" class="d-block w-100 img-fluid"  alt="..."  >
      <div class="carousel-caption d-md-block mb-lg-5 pb-lg-5">
        <h1 class="firstH1 mb-lg-3">Welcome To Grand Palace</h1>
        <h3 class="firstP">Paradise on your plate...</h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{image2.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block">
        <h5 class="firstH1 mb-lg-3" style="color: white;text-decoration:underline;text-decoration-color: #ff9800;">Enjoy a Taste of Heaven in every plate </h5>
        <h3 class="firstP" ></h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{image3.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block">
        <h5 class="firstH1 mb-lg-3" style="text-decoration-color:#ff9800;" ><span style="font-family: 'Lobster', cursive;">A</span> healthy option for you !</h5>
        <h3 class="firstP" style="color: white;text-shadow: 7px 5px  10px #03fc03;">Meals created with extra care</h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{image4.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block">
        <h5 class="firstH1 mb-lg-3" >Our Team <i class="fas fa-users"></i></h5>
        <h3 class="firstP" style="color: #fbff00;">Ever reliabe and with excellent performance</h3>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{image5.carousel}}" class="d-block w-100 img-fluid" alt="..." >
      <div class="carousel-caption d-md-block">
        <h5 class="firstH1 mb-lg-3" style="color: #ff9800; text-decoration-color: white;text-decoration-style: wavy;" >Made with Love <i class='bx bxs-heart-circle bx-tada' style="color: white;text-decoration: none;"  ></i> </h5>
        <h3 class="firstP" style="color: #03fc03;" >Provides you with an exquisite kitchen </h3>
      </div>
    </div>
  </div>

</div>

</div>

<!-- Spice -->
<div class="row mt-5 pt-5  ">

  <div class="col-lg-5 col-md-12 ms-lg-5 mx-lg-0 me-lg-3 me-md-0 ">
      <img src="{{spices.image}}" class=" spices-img img-fluid " alt="restaurant image" >
  </div>

  <div class="col-lg-6 col-md-12 mt-lg-0 mt-md-5 mt-sm-5 cardo-body bg-white" style="border-radius: 10px;border: 2px solid #ff9800;">
    <div class="card-body ">
      <h5 class="card-title text-md-center text-sm-center">Grand Palace Eatery </h5>
      <p class="card-text mt-4 ">
        Welcome to the one resturant who takes your satisfaction to their best interest. Equiped with the 
        perfect tools and ingredients, we at Grand Palace provides you with a variety of dishes to make your day. Why waste 
        any more time searcing for a good place to eat? Come over and we'll give you the best. We specialize in different kinds
        of dishes you can imagine. We also do deliveries of dishes you may want. So give us a visit and get paradise on your plate !!! 
      </p>
    </div>
  </div>

</div>
<!-- Spice -->


<!-- qualities -->
<div class="container  mt-5">
  <div class="row qualities gx-lg-5">
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2" >
     <div class="p-3 qualities-box  text-center"  style="background-color: rgba(173, 174, 175,0.1);">
       <img src="{{menu.icon}}" alt="">
       <h5 class="mt-4">A Full Stack Menu</h5>
     </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2" >
      <div class="p-3 qualities-box  text-center"  style="background-color: rgba(173, 174, 175,0.1);">
        <img src="{{fastfood.icon}}" alt="">
        <h5 class="mt-4">All the food you can order</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2" >
      <div class="p-3 qualities-box  text-center"  style="background-color: rgba(173, 174, 175,0.1);">
        <img src="{{tray.icon}}" alt="">
        <h5 class="mt-4">Speedy Delivery to your doorstep</h5>
      </div>
    </div>
  </div>
</div>

<!-- qualities -->


<!-- specifications-->
<div class="row specialties container-fluid ">
  <h1 class="text-center my-5">Specialties</h1>
  <div class="overflow-hidden">
  <div class="row gx-5">
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
     <div class=" border " >
      <img src="{{snack.specimen}}" alt="Specialties Images" style="width: 100%;">
      <h5 class="my-3 text-center">Fast Food</h5>
     </div>
    </div>
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border ">
        <img src="{{foreign.specimen}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-center">Foreign Dishes</h5>
      </div>
    </div>
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border ">
        <img src="{{local.specimen}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-center">Local Dishes</h5>
      </div>
    </div>
    <div class="specimen col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border ">
        <img src="{{drinks.specimen}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-center">Drinks and Beverages</h5>
      </div>
    </div>
  </div>
</div>
</div>
<!-- specifications -->

<!-- qualities -->


<!-- specifications-->
<div class=" ourchef container ">
  <h1 class="text-center my-5">Our Master Chef</h1>
  <div class="overflow-hidden">
  <div class="row gx-4 ">
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
     <div class=" border " >
      <img src="{{lukesimon.image}}" alt="Specialties Images" style="width: 100%;">
      <h5 class="my-3 text-start ms-3">Luke Simon</h5>
      <h6 class="text-muted ms-3">Restaurant Owner</h6>
     </div>
    </div>
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border ">
        <img src="{{martinyoung.image}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-start ms-3">Martin Young</h5>
        <h6 class="text-muted ms-3">Head Chef</h6>
      </div>
    </div>
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border ">
        <img src="{{rebecca.image}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-start ms-3">Rebecca Welson</h5>
        <h6 class="text-muted ms-3">Chef</h6>
      </div>
    </div>
    <div class="chefs col-lg-3 col-md-6 col-sm-12 my-lg-2 my-md-4 my-sm-4 d-sm-block ">
      <div class=" border ">
        <img src="{{johnsmith.image}}" alt="Specialties Images" style="width: 100%;">
        <h5 class="my-3 text-start ms-3">John Snow</h5>
        <h6 class="text-muted ms-3">Chef</h6>
      </div>
    </div>
  </div>
</div>
</div>
<!-- chef -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


