<link rel="stylesheet" href="../content/css/menu.css">


<!-- head_Text -->
<div class="head-text " style="background-image: url({{image.common}});background-attachment: fixed;">
    <h1 class="head-text-h1">
        MENU
    </h1>
    <h3 class="head-text-linker pt-2">
        <a href="#!/home">Home</a> &#62; Menu
    </h3>
</div>
<!-- head_Text_End -->

<br><br><br>

  <div class="container menuqualities" style="margin-top: 40px;">
    <h2 class="text-center ">Our Menu Offers You ...</h2>
  <div class="row gx-4 ">
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2 "  >
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);border-radius: 100px;">
       <img src="{{healthyfoodmenu.icon}}" alt="">
       <h4 class="mt-4" style="font-size: 1.4rem;">Healthy Meal</h5>
     </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2 "  >
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);border-radius: 100px;">
       <img src="{{fastfoodmenu.icon}}" alt="">
       <h4 class="mt-4" style="font-size: 1.4rem;">Fast Food</h5>
     </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2 "  >
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);border-radius: 100px;">
       <img src="{{coffeecupmenu.icon}}" alt="">
       <h4 class="mt-4" style="font-size: 1.4rem;">Delicious Coffee</h5>
     </div>
    </div>
  </div>
</div>


<br><br><br><br><br><br><br><br>
<div class="container mx-auto" >

<ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link active me-2 " id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#home0"  >
      African Dishes
    </button>
  </li>
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link mx-2" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#profile0" >
      Foreign Dishes
    </button>
  </li>
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link mx-2" id="contact-tab0" data-mdb-toggle="tab" data-mdb-target="#contact0"type="button" role="tab" aria-controls="contact" aria-selected="false">
      Fast food
    </button>
  </li>
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link mx-2" id="extra-tab0" data-mdb-toggle="tab" data-mdb-target="#extra"type="button" role="tab" aria-controls="contact" aria-selected="false">
      Drinks
    </button>
  </li>
</ul>

<!-- CONTENT -->
<div class="tab-content mt-5" id="myTabContent0">
  <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">
    African Dishes
  </div>
  <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
    Tab 2 content
  </div>
  <div class="tab-pane fade" id="contact0" role="tabpanel" aria-labelledby="contact-tab0">
    Tab 3 content
  </div>
  <div class="tab-pane fade" id="extra" role="tabpanel" aria-labelledby="extra-tab0">
    Tab 4 content
  </div>
</div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



