<link rel="stylesheet" href="../content/css/menu.css">


<style>
  body{
    /* background-image: url(/content/img/Home_Page/spag.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<!-- head_Text -->
<div class="head-text  " style="background-image: url({{image.common}});">
    <h1 class="head-text-h1">
        OUR &nbsp; DISHES
    </h1>
    <h3 class="head-text-linker pt-3">
        <a href="#!/home">Home</a> &#62; Our Dishes
    </h3>
</div>
<!-- head_Text_End -->



