<link rel="stylesheet" href="../content/css/menu.css">


<!-- head_Text -->
<div class="head-text " id="Menu_Page" style="background-image: url({{image.common}});background-attachment: fixed;">
    <h1 class="head-text-h1">
        MENU
    </h1>
    <h3 class="head-text-linker pt-2">
        <a href="#!/home">Home</a> &#62; Menu
    </h3>
</div>
<!-- head_Text_End -->

<br><br><br>

  <div class="container menuqualities" style="margin-top: 40px;">
    <h2 class="text-center " data-aos="fade-up" data-aos-anchor-placement="center-center"  data-aos-duration="1000">Our Menu Offers You ...</h2>
  <div class="row gx-4 ">

    <div  class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2 my-sm-3"  >
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);border-radius: 100px;">
       <img src="{{healthyfoodmenu.icon}}" alt="" oncontextmenu="return false">
       <h4 class="mt-4" style="font-size: 1.4rem;">Healthy Meal</h5>
     </div>
    </div>

    <div  class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2 my-sm-3"  >
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);border-radius: 100px;">
       <img src="{{fastfoodmenu.icon}}" alt="" oncontextmenu="return false">
       <h4 class="mt-4" style="font-size: 1.4rem;">Fast Food</h5>
     </div>
    </div>
    <div  class="col-lg-4 col-md-4 col-sm-7 m-sm-auto my-lg-o my-md-0 my-sm-2 my-sm-3"  >
     <div class="p-3 qualities-box  text-center "  style="background-color: rgba(173, 174, 175,0.1);border-radius: 100px;">
       <img src="{{coffeecupmenu.icon}}" alt="" oncontextmenu="return false">
       <h4 class="mt-4" style="font-size: 1.4rem;">Delicious Coffee</h5>
     </div>
    </div>
  </div>
</div>


<br><br><br><br><br><br><br><br>
<div class="container mx-auto" data-aos="fade-up" data-aos-anchor-placement="center-center"  data-aos-duration="500">

<ul class="nav nav-tabs mb-3 " id="myTab0" role="tablist">
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link active me-2 " id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#home0"  >
      African Dishes
    </button>
  </li>
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link mx-2" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#profile0" >
      Foreign Dishes
    </button>
  </li>
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link mx-2 mt-sm-3 mt-lg-0 mt-md-0" id="contact-tab0" data-mdb-toggle="tab" data-mdb-target="#contact0"type="button" role="tab" aria-controls="contact" aria-selected="false">
      Fast food
    </button>
  </li>
  <li class="nav-item tabio mx-auto" role="presentation">
    <button class="nav-link mx-2 mt-sm-3 mt-lg-0 mt-md-0" id="extra-tab0" data-mdb-toggle="tab" data-mdb-target="#extra"type="button" role="tab" aria-controls="contact" aria-selected="false">
      Drinks
    </button>
  </li>
</ul>

<style>

</style>

<!-- CONTENT -->
<div class="tab-content mt-5" id="myTabContent0">
  <!-- CONTENT 1 -->
  <div class="tab-pane fade show active  border"  id="home0" role="tabpanel" aria-labelledby="home-tab0">
    <!--  -->
    <div class="container sticky-top search" style="z-index: 600;">
      <span><h6 class="m-3 " style="text-align: right;color: #198754;">
        <input type="search" class="py-2 " id="searchbar" ng-model="searchAfricanFoods" placeholder="Search African Foods" style="display: none;">
        <i class="fa fa-search  p-2 classinitial  border" id="searchactive" aria-hidden="true" style="cursor: pointer;font-size: 20px;"></i>
      </h6></span>
    </div>
    
    <div class="row mb-4">
      <div class="col-sm-9 mx-sm-auto col-lg-6 user-select-none my-2 dishes" ng-repeat="dish in africanfood | filter: searchAfricanFoods" >
        <div class="card mb-3"  >
          <div class="row g-0">
            <div class="col-md-6  overflow-hidden">
              <img src="{{dish.image}}" alt="..." class="img-fluid " style="border-right: 1px solid black;"/ oncontextmenu="return false">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h4 class="card-title ">{{dish.name}}</h4>
                <p class="card-text my-4">{{dish.price | currency: "₦"}} </p>
                <button type="button" class="">Order Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  --> 
  </div>

  <!-- CONTENT 2 -->
  <div class="tab-pane tab-pane2 fade  border" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
    
    <div class="container sticky-top search">
      <span><p class="m-3 " style="text-align: right;color: #198754;">
        <input type="search" class="py-2 " id="searchbar2" ng-model="searchForeignFoods" placeholder="Search Foreign Foods" style="display: none;">
        <i class="fa fa-search  p-2 classinitial  border" id="searchactive2" aria-hidden="true" style="cursor: pointer;font-size: 20px;"></i>
      </p></span>
    </div>

    <div class="container px-4 mt-3">
      <div class="row gx-5 mx-auto">
        <div class="col-lg-4 col-md-9 mx-md-auto my-md-4 my-sm-4 dishes foreign" ng-repeat="dish in foreignfood | filter: searchForeignFoods" >
        
          <div class="card" >
            <img src="{{dish.image}}" class="card-img-top" alt="..." / oncontextmenu="return false">
            <div class="card-body">
              <h4 class="card-title">{{dish.name}}</h5>            
              <p class="card-text mt-3">{{dish.price | currency: "₦"}} </p>
              <p class="card-text my-3" style="font-family: Itim;">{{dish.origin}}</p>
              <button type="button" class="">Order Now</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- CONTENT 3 -->
  <div class="tab-pane tab-pane3 fade  border " id="contact0" role="tabpanel" aria-labelledby="contact-tab0">
    
    <div class="container sticky-top search">
      <span><p class="m-3 " style="text-align: right;color: #198754;">
        <input type="search" class="py-2 " id="searchbar3" ng-model="searchFastFoods" placeholder="Search Fast Foods" style="display: none;">
        <i class="fa fa-search  p-2 classinitial  border" id="searchactive3" aria-hidden="true" style="cursor: pointer;font-size: 20px;"></i>
      </p></span>
    </div>

    <div class="container px-4 mt-3">
      <div class="row gx-5 mx-auto">
        <div class="col-lg-4 col-md-9 mx-md-auto my-md-4 my-sm-4 dishes foreign" ng-repeat="snack in fastfood | filter: searchFastFoods" >
        
          <div class="card" >
            <img src="{{snack.image}}" class="card-img-top" alt="..." / oncontextmenu="return false">
            <div class="card-body">
              <h4 class="card-title">{{snack.name}}</h5>            
              <p class="card-text mt-3">{{snack.price | currency: "₦"}} </p>
              <button type="button" class="">Order Now</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- CONTENT 4 -->
  <div class="tab-pane tab-pane4 fade border " id="extra" role="tabpanel" aria-labelledby="extra-tab0">
    
    <div class="container sticky-top search">
      <span><p class="m-3 " style="text-align: right;color: #198754;">
        <input type="search" class="py-2 " id="searchbar4" ng-model="searchDrinks" placeholder="Search Drinks" style="display: none;">
        <i class="fa fa-search  p-2 classinitial  border" id="searchactive4" aria-hidden="true" style="cursor: pointer;font-size: 20px;"></i>
      </p></span>
    </div>

    <div class="container px-4 mt-3">
      <div class="row gx-5 mx-auto">
        <div class="col-lg-4 col-md-9 mx-md-auto my-md-4 my-sm-4 dishes foreign" ng-repeat="drink in drinks | filter: searchDrinks" >
        
          <div class="card" >
            <img src="{{drink.image}}" class="card-img-top" alt="..." / oncontextmenu="return false">
            <div class="card-body">
              <h4 class="card-title">{{drink.name}}</h5>            
              <p class="card-text mt-3">{{drink.price | currency: "₦"}} </p>
              <button type="button" class="">Order Now</button>
            </div>
          

        </div>
      </div>
    </div>

  </div>
</div>
</div>

<br><br><br><br><br>

<div class="container menuqualities overflow-hidden" >

  <h2 class="text-center ">Our Popular Desserts <i class="fas fa-utensils" style='color:#03fc03'></i></h2>

  <div class="row gx-3">
    <div class="col-lg-3 col-md-6 col-md-6 my-sm-3 my-md-4 desserts mx-sm-auto" ng-repeat="dessert in desserts" data-aos="fade-up" data-aos-anchor-placement="center-center"  data-aos-duration="1000">
      <div class=" bg-info ">

        <div class="card"  style="box-shadow: none;">
          <img src="{{dessert.image}}"  class="card-img-top" alt="..." / oncontextmenu="return false">
          <div class="card-body">
            <h6 style="font-size: 1.1rem;" class="card-text text-center my-1">{{dessert.name}}</h6>
          </div>
        </div>
      </div>
    </div>

    

  </div>
</div>


<br><br><br><br><br><br><br>
<!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
