.active1{
  text-decoration: underline;
  text-decoration-thickness: 3px ;
}
.nav-item .home-link:hover{
  transform: none;
  transition: none;
}
/* MEDIA__QUERIES */
@media screen and (max-width: 1370px) {
  .carousel-caption .firstH1{
    margin-top: -310px;
    margin-left: -100px;
    font-size: 45px;
  }
  .carousel-caption .firstP{
    margin-left: -100px;
  }
}
@media screen and (max-width: 1200px) {
  .carousel-caption .firstH1{
    margin-top: -270px;
    margin-left: -100px;
    font-size: 45px;
  }
  .carousel-caption .firstP{
    margin-left: -100px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1150px) {
  .carousel-caption .firstH1{
    margin-top: -220px;
    margin-left: -100px;
    font-size: 43px;
  }
  .carousel-caption .firstP{
    margin-left: -100px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1150px) {
  .carousel-caption .firstH1{
    margin-top: -150px;
    margin-left: -100px;
    font-size: 40px;
  }
  .carousel-caption .firstP{
    margin-left: -100px;
    margin-top: 20px;
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
    .spices-img{
      align-content: center;
      align-self: center;
      align-items: center;
      padding: 0px 60px;

    }
  }
@media screen and (max-width: 768px) {
  .carousel-caption .firstH1{
    margin-top: -150px;
    margin-left: -100px;
    font-size: 34px;
  }
  .carousel-caption .firstP{
    margin-left: -100px;
    margin-top: 20px;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px){
  .carousel-caption .firstH1{
    margin-left: -70px;
    font-size: 40px;
  }
  .carousel-caption .firstP{
    margin-left: -70px;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px){
  .carousel-caption .firstH1{
    margin-left: -70px;
    margin-top: -120px;
    font-size: 30px;
  }
  .carousel-caption .firstP{
    margin-left: -70px;
    font-size: 18px;

  }
}
@media screen and (max-width: 575px){
  .cardo-body{
    margin-top:50px;
  }
  .card-title{
    text-align: center;
  }
  .qualities-box{
    margin: 30px 20px;
  }
  .specimen{
    margin: 30px 0px;
  }
  .chefs{
    margin: 30px 0px;
  }
  .testifiers{
    margin: 30px 10px;
  }
}
@media screen and (max-width: 500px){
  .carousel-caption .firstH1{
    margin-left: -50px;
    margin-top: -90px;
  }
  .carousel-caption .firstP{
    margin-left: -50px;

  }
}

/* CAROUSEL */
.carousel{
    margin-top: -100px;
}
.carousel-caption .firstH1{
  color:   white;
  line-height: fit-content;
  text-align: left;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #03fc03;
  text-decoration-style: double;
}
.carousel-caption .firstH1 i{
    color: #ff9800;
    text-decoration: underline;
    text-decoration-color: #03fc03;
    text-decoration-style: double;
}
.carousel-caption .firstP{
  font-family: 'Lobster', cursive;
  color: #ffee00;
  text-align: left;
}


/* CARDS */

.card-title{
    /* font-family: poppins; */
    font-family: 'Acme', sans-serif;
    font-size: 1.8rem;
  }
.card-text{
  text-align: justify;
  font-family: poppins;
  font-size: 1.05rem;
}


/* QUALITIES */

  .qualities{
    margin-top: 120px;
  }
  .qualities h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    font-size: 1.36rem;
    color: #ff9800;
  }

/* SPECIALTIES */
  .specialties h1{
    font-family: sofia;
    color: #ff9800;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #03fc03;
  }
  .specialties{
    margin-top: 100px;
  }
  .specimen h5{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .ourchef{
    margin-top: 120px;
  }
  .ourchef h1, .ownerstable h1, .testimony-header h1{
    font-family: sofia;
    color: #ff9800;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline #03fc03;
  }
  .chefs h5{
    font-size: 1.25rem;
    font-family: poppins;
    font-weight: 300;
  }
  .chefs h6{
    font-family: 'Itim', cursive;
    font-size: 1.1rem;
  }

  .headchef {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
  }
  .headchef h1{
    font-family:sofia;
    font-weight:bold;
    color:#ff9800;
  }
  .ownerstable{
    margin-top: 120px;
  }

/* RESERVATION */
  .reservation{
    margin-top: 180px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    color: #f3960b;
  }
  .valid{
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: white;
  }
  label{
    font-family: 'Poppins', sans-serif;
    color: black;
    display: inline-block;
  }
  .form-label{
    margin: 10px 0px;
  }
  .booktable h1{
    color: white;
    font-family: sofia;
    font-weight: bold;
  }
  form button{
    font-family: poppins;
    font-weight: 500;
    border: none;
    background-color: #ff9800;
    color: white;
    border:1px solid #ff9800;
    padding: 10px 20px;
    transition: 0.4s;
  }
  form button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
  }

  /* TESTIMONIES */
  .testimony{
    margin-top: 120px;
    font-family: poppins;
  }
/* DELICIOUS FOOD */
.delicious-food button{
  font-family: poppins;
  border: none;
  background: transparent ;
  border: 1px solid white;
  padding: 7px 20px;
  color: white;
  transition: 0.4s;
}
.delicious-food button:hover{
  background-color: white;
  color: #ff9800;
  border: 1px solid #7E878B;
  transition: 0.4s;
}
.delicious-food h1{
  font-family: Itim;
  text-align: center;
  font-size: 2.6rem;
}