.active2{
  text-decoration: underline;
  text-decoration-thickness: 3px ;
}
.nav-item .menu-link:hover{
  transform: none;
  transition: none;
}

body{
  overflow-x: hidden;
}
*{
    text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 765px){
  #searchbar,#searchba2,#searchbar3,#searchbar4{
    width: 50%;
  }
  #searchbar,#searchba2,#searchbar3,#searchbar4::placeholder{
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 575px) {
  .qualities-box{
    margin: 30px 20px;
  }
  .dishes{
    width: 24rem;
    margin: auto;
  }
  .foreign{
    margin: 15px 0px;
  }
  .desserts{
    margin: 20px 0px;
  }
  .nav-link{
    display: block;
  }
}

.head-text{        
  width: auto;
  height: 550px;
  background-size: cover;
  background-blend-mode: overlay;
}
.head-text-h1{
  color: white;
  font-family: Sofia;
  font-weight: bold;
  font-size: 2.9rem;
  text-align: center;
  padding-top: 18%;
}
.head-text-linker{
  color: white;
  text-align: center;
  font-family: Itim;
}
.head-text-linker a{
  text-decoration: none;
  color: white;
}
.head-text-linker a:hover{
  text-decoration: underline;
  transition: 0.1s;
  text-decoration-color: #ff9800;
}

  /*OFFERS  */
  .tabio .nav-link{
    background-color: #ff9800;
    font-size: 1.2rem;
  }
  .tabio .active{
    color: #ff9800 !important;
    border: #03fc03 2px solid !important;
    border-bottom: none !important;
    font-weight: bold;
  }
  .tabio .active:hover{
    transform: none !important;
  }
  .menuqualities h2{
    margin: 50px 0px;
    color: #ff9800;
    font-family: sofia;
    font-weight: bold;
    font-size: 2.5rem;
  }

/* CARD */
 .card{
        border: 1px solid #198754;
        box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.45);
        cursor: pointer;
        transition: 0.3s;
      }
      .card-body h4{
        color: #ff9800;
        font-family: Acme;
      }
    .card-body button{
      font-weight: 500;
      padding: 5px 10px;
      border: hidden;
      color: #198754;
      background-color: white;
      border: 1px solid #198754;
      font-family: 'Bree Serif', serif;
      border-radius: 5px;
      transition: 0.3s;
    }
    .card-body button:hover{
      color: white;
      background-color: #198754;
      transition: 0.3s;
    }
    .card-body p{
      font-family: Poppins;
    }
/* SCROLLING */
.classinitial {
  flex-wrap: wrap;
  
}
.classinitial:hover{
  background-color: #ff9800;
  transform: rotate(360deg);
  transition: 0.5s;
} 
.classfinal {
  background-color: #ff9800;
  border: 1px solid black;
  margin: 7px 0px;
}
.classfinal:hover{
  transform: rotate(360deg);
  transition: 0.5s;
}
.searchbar{
  box-shadow: 5px 1px 13px 0px rgba(50, 50, 50, 0.75);

}
  .search input{
    border: hidden;
    border: 1px solid grey;
    display: inline-block;
    width: 30%;
  }
  .search input::placeholder{
    font-size: 17px;
    padding: 0px 7px;
  }
/* TAB CONTENT */
.tab-pane{
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
  }